<!DOCTYPE html>
<html>
<head>
<title><%= @page_title %> - <%= site.title %></title>
<%= stylesheet_link_tag 'default' %>
<%= javascript_include_tag 'default' %>
<%= csrf_meta_tags %>
<meta name='Generator' content='Staytus/<%= Staytus::Config.version %>' />
<link rel="shortcut icon" href="<%= asset_path('favicon.png') %>"/>
<meta content='width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1' name='viewport' />
</head>
<body>

  <%= display_flash %>

  <%= yield %>

  <footer class='siteFooter'>
    <div class='container'>

      <ul class='siteFooter__nav'>
        <li>⭯ <a href='/history'>Issue & Maintenance History</a></li>
        <li><a href='<%= site.website_url %>'>Our Homepage</a></li>
        <% if site.privacy_policy_url.present? %>
        <li><a href='<%= site.privacy_policy_url %>'>Privacy Policy</a></li>
        <% end %>
        <li><a href='mailto:<%= site.support_email %>'>Contact Us</a></li>
      </ul>
      <p class='siteFooter__poweredBy'>
        Forked from <a href='http://staytus.co'>Staytus</a>
      </p>
    </div>
  </footer>

</body>
</html>
